/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import 'bootstrap';
//* colors *//
$primary-color: #191B27;
$secondary-color: #1D223B;
$h2-color: #286D92;
$grey-blue: #B0C9BE;

//* mixins *//
@mixin gradient-text($angle: 35deg, $color: #FF3591, $amount: 45%) {
    color: $color;
    background: -webkit-linear-gradient($angle, $color, adjust-hue($color, $amount));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    display: inline-block;
}

@mixin gradient-text-2($angle: 55deg, $color: #0079AF, $amount: 15%) {
    color: $color;
    background: -webkit-linear-gradient($angle, $color, adjust-hue($color, $amount));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    display: inline-block;
}

.hidden { display: none; }

//* scss - css *//

body {
    background-color: $primary-color;
    color: #ffffff;
    margin: 0px auto;
}

.header {
    margin: 0;
    text-align: center;
}

.title {
  margin-top: 10%;
}

.title-sub-text {
  text-transform: uppercase;
  font-size: 1.6rem;
  margin: -10px 0 20px;

  @include gradient-text-2
}

.products-home {
    padding: 10% 0;
}

.section-center {
    text-align: center;
    margin: 0 auto;
}

.price-upcase {
    text-transform: uppercase;
    font-size: 24px;
}

.bottom-padding {
    padding-bottom: 25px;
}

.productimg {
    width: 100%;
}

ul {
  padding: 0px;
}

li {
  list-style-type: none;
  color: #B6E5D0;
  font-size: 40px;
}

li:before {
  background-image: url(../images/icons/checkmark.png);
  position: absolute;
  top: 50%;
  left: 0;
}

.list-product-page {
  margin-top: 35px;
}

.icon-checkmark {
  padding-right: 20px;
  margin-top: -5px;
}

.qty-title {
  @include gradient-text;
  font-size: 2.2rem;
}

p {
  margin: 1.6px;
  font-size: 1.1rem;
}

h2 {
    text-transform: uppercase;
    color: $h2-color;
    font-size: 28px;
}

h3 {
    @include gradient-text;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.75rem;
}

h4 {
  font-size: 20px;
  margin: 0.8px;
}

.note {
  color: $grey-blue;
}

.button-big {
    /* Rectangle [25 40]: */
    background: #286D92;
    border-radius: 300px;
    /* need something custo: */
    font-family: AvenirNext-DemiBold;
    font-size: 20px;
    color: #B0C9BE;
    padding: 25px;
    text-transform: uppercase;
}

.button-big:hover {
    /* Rectangle [25 40]: */
    background: rgb(27, 77, 104);
    border-radius: 300px;
    /* need something custo: */
    color: #B0C9BE;
    padding: 25px;
    text-transform: uppercase;
    text-decoration: none;
}

//* header information *//
.intro-content {
    margin: -100px auto 0 auto;
    max-width: 700px;
    min-width: 300px;
    text-align: center;
}

.print-help {
    background-color: #0D101B;
    border-radius: 20px;
    padding: 1.2rem !important;
    margin: 5px;
    flex: auto;
}

.icon-img {
  height: 140px;
  padding: 8px 10px;
  float: left;
}

.content-ink {
  color: #ffffff;
}

.footer {
    margin: 25px 0;
    text-align: center;
}

//* product page information *//

.product-card-page {
    background-color: $secondary-color;
    padding: 15px;
    border-radius: 15px;
}

.product-card-page img {
    width: 100%;
}

.price-bck {
  background-color: #2C3562;
  display:inline-block;
  padding: 10px 12px;
  border-radius: 80px;
  font-size: 35px;
  float: right;

  /* $80: */
  font-family: AvenirNext-DemiBold;
  font-size: 42px;
  color: #ef4273;
}

.price-cart {
  margin-left: 3px;
    margin-top: -10px;
    padding-left: 10px;
}

/* Grow */
.hvr-bob, a {
    display: inline-block;
    vertical-align: middle;
    transform: translateY(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
    color: #ffffff;
}

.hvr-bob:hover,
.hvr-bob:focus,
.hvr-bob:active {
    color: #f7f7f7;
    text-decoration: none;
    transform: scale(1.05);
}
