<div class="title">
  <h3>Business cards</h3><br>
  <h1 class="title-sub-text">Make a statement</h1>
</div>

<div class="product-card-page row">
  <div class="col-md-4"><%= image_tag 'products/business-cards.png' %></div>

  <div class="col-md-4">
    <h2 class="qty-title">250 cards</h2>
    <p>Full color print</p>
    <p>Double sided (color on both sides, yeah!)</p>
    <p>High gloss UV</p>
    <p>14pt cardstock</p>
    <p>3 day printing (business days)</p>
    <p>Roughly 3-5 days for shipping</p>
  </div>

  <div class="col-md-4">
    <div class="price-bck">$80<%= link_to image_tag('icons/shop-icon.svg', size: '65x65', :class => "price-cart") %></div>
  </div>
</div>

<%= render 'layouts/checklist.html' %>
