<div class="d-flex flex-column flex-md-row align-items-center mb-3">
    <%= link_to image_tag('inkdrp-full-color@2x.png', size: '225x56'), root_path %>
      <h5 class="my-0 mr-md-auto font-weight-normal"></h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-light"><%= link_to "About", intro_about_path %></a>
        <a class="p-2 text-light" href="#">Enterprise</a>
        <a class="p-2 text-light" href="#">Support</a>
        <a class="p-2 text-light" href="#">Pricing</a>
      </nav>
      <a class="btn btn-outline-primary" href="#">Sign up</a>
    </div>
