<div class="d-flex justify-content-around flex-wrap">
  <div class="p-2 print-help">
    <div class="icon">
      <img src="https://inkdrp.com/wp-content/uploads/2018/07/printer@2x.jpg" class="icon-img">
    </div>
    <div class="content-ink">
      <h2>Need custom printing?</h2>
      <p>Fixie tote bag ethnic keytar. Neutra vinyl American Apparel.</p>
    </div>
  </div>

  <div class="p-2 print-help">
    <div class="icon">
      <img src="https://inkdrp.com/wp-content/uploads/2018/07/chess@2x.jpg" class="icon-img">
    </div>
    <div class="content-ink">
      <h2>Need some design help?</h2>
      <p>Fixie tote bag ethnic keytar. Neutra vinyl American Apparel.</p>
    </div>
  </div>
</div>
